
@{
    ViewData["Title"] = "Ana Sayfa";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giris</title>
    <link href="~/css/loginstyle.css" rel="stylesheet" />
</head>
<body>
    <form class="login">
        <input type="text" placeholder="Kullanıcı Adı">  @* kullanıcı adı inputu *@
        <input type="password" placeholder="Şifre"> @* şifre inputu *@
        <button>GİRİS</button>  @* button *@    
       <img src="~/css/logo1.png" class="logo"/>
        
    </form>

</body>
</html>
